.card1 {
    width: 220px; 
    height: 380px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    background-size: cover;
    background-position:-15px 0;
    .banner2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 40px;
        height: 40px;
        background: linear-gradient(45deg, rgb(90, 90, 255), rgb(122, 7, 205));
        font-size: 25px;
        color: $basictext;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 7px 0;
    }
    .banner {
        position: absolute;
        left: 0;
        right: 0;
        background: linear-gradient(to left, green, lightgreen);
        padding: 4px;
        color: $basictext;
        font-size: 20px;
        text-align: center;
    } .rated {
        position: absolute;
        bottom: 0;
        z-index: 9;
        left: 0;
        right: 0;
        
        height: 120px;
        backdrop-filter: blur(6px);
        padding: 10px 15px;

        display: grid;
        grid-template-areas: 'title title'
                             'star kategori';

        h4 {
            grid-area: title;
        }
        .star {
            grid-area: star;
            text-align: left;
        } .kategori {
            text-align: right;
            grid-area: kategori;
        }

        span {
            color: $basictext;
        } h4 {
            color: $basictext;
            font-size: 22px;
        } 
    }
}


body.light {
    .card5 {
        .detail {
            h3 {
                color: $textwhtlight;
            } h5 {
                color: $textwhtlight;
            }
        }
    }
    .card2 {
        background: $headerinputlight;
        .rated {
            h4 {
                color: $basictextlight;
            } span {
                color: $textwhtlight;
            }
        }
    }

    .card3 {
        background: $headerinputlight;
        .rated {
            background-color: $headerlight;
            h4 {
                color: $basictextlight;
            } span {
                color: $textwhtlight;
            }

            .kategori {
                // display: none;
                // color: $textwhtlight;
                color: black !important;
                position: relative;
                z-index: 1;
            }

            .kategori::before {
                z-index: -1;
                @include createOverlay($headerinputlight);
            
            }
        }
    }
}


.card2 {
    display: flex;
    gap: 20px;
    // border: 1px solid blue;
    width: 400px;
    padding: 20px;
    border-radius: 7px;
    background: $headerinput;
    img {
        width: 100px;
        height: 100px;
    } .rated {
        // border: 1px solid red;
        h4 {
            color: $basictext;
            font-size: 22px;
        } span {
            color:$textwht;
        }

        display: grid;
        grid-template-areas: 'title title'
                             'star kategori';

        h4 {
            grid-area: title;
        }
        .star {
            text-align: left;
            grid-area: star;
            
        } .kategori {
            text-align: right;
            grid-area: kategori;
        }
    }
}

.card3 {
    gap: 20px;
    // border: 1px solid blue;
    width: 300px;
    // padding: 20px;
    border-radius: 15px;
    overflow: hidden;
    background: $headerinput;
    .image {
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }

    .rated {
        background-color: $header;
        padding: 20px;
        // border: 1px solid red;
        h4 {
            color: $basictext;
            font-size: 22px;
        } span {
            color:$textwht;
        }

        display: grid;
        grid-template-areas: 'title title'
                             'star kategori';

        row-gap: 40px;
        h4 {
            grid-area: title;
        }
        .star {
            grid-area: star;
            text-align: left;
        } .kategori {
            text-align: right;
            place-self: end;
            grid-area: kategori;
            position: relative;
        } .kategori::before {
            @include createOverlay();
            $size: -8px; 
            left: $size;
            right: $size;
            top: $size;
            bottom: $size;
        }
    }
}

.card4 {
    width: 30%;
    height: 300px;
    display: flex;
    justify-content: start;
    align-items: end;
    padding: 0 0 50px 50px;
    border-radius: 20px;
    background-size: cover;
    h5 {
        color: $basictext;
        font-size: 30px;
        text-transform: capitalize;
        user-select: none;
    }
}

.card5 {
    
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px 25px;
    .detail {
        h3 {
            font-size: 25px;
            color: $textwht;
            font-weight: bold;
        } h5 {
            color:$textwht;
            font-size: 16px;
        }
    } img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
}

.cards,
.collection {
    margin-left: 40px;
}

.collection {

    .colwrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        .card4 {
            width: unset;
            flex: 1;
        }
    }
}

.cards {
    
    padding: 20px;
    
    .swiper-container {
        overflow-x: clip;
    }
}

.cards1.swiper-container {
    .card1 {
        width: 100%;
    }
}

.cards2.swiper-container {
    .swiper-wrapper {
        .swiper-slide {
            display: flex !important;
            flex-direction: column !important;
            gap: 10px;
            .card2 {
                width: 100%;
            }
        }
    }
}

.cards-type-2 {
  
    background: linear-gradient(to right, black, rgb(57, 3, 57));
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding-top: 120px;
    padding-bottom: 100px;
    .cards-detail {
        // border: 1px solid red;
        width: 25%;
        h1 {
            font-size: 35px;
            color: $basictext;
            font-weight: bold;
        } p {
            margin: 5px 0 20px 0;
            font-size: 18px;
            color: $basictext;
            width: 100%;
        } button {
            font-size: 16px;
            padding: 7px 50px;
            border-radius: 7px;
            background: rgb(60, 2, 60);
            border: unset;
            outline: unset;
            color: $basictext;
            
        }

    } .swiper-container {
        width: 75%;
        
    }
}

.collection, 
.cards-type-2 {
    margin-left: 58px;
    margin-right: 15px;
}

@media screen and (max-width: 1150px) {
    .card5 {
        // display: none;
        .detail {
            h3 {
                font-size: 20px;
            } 
        }

        img {
            width: 50px;
            height: 50px;
        }
    }
}

@media screen and (max-width: 900px) {
       .cards-type-2 {
            .cards-detail {
                h1 {
                    font-size: 25px;
                }  p {
                    font-size: 16px;
                }  button {
                    padding: 4px 30px;
                    font-size: 14px;
                }
            }
       }

       .collection {
        .colwrap {
            gap: 20px;
        }
       }

       .card4 {
        height: 200px;
        gap: 10px;
        padding-bottom: 30px;
            h5 {
                font-size: 20px;
            
                
            }
            padding-left: 30px;
       }
}


@media screen and (max-width: 750px) {
    .cards-type-2 {
        .cards-detail {
            h1 {
                font-size: 20px;
            } p {
                font-size: 12px;
            } button {
                font-size: 12px;
                padding: 2px 15px;
            }
        }
    }

    
    .collection {
  
        .colwrap {
            gap: 15px;
            flex-wrap: wrap;

                
        }
    }
}

@media screen and (max-width: 600px) {
    .cards {
        margin-left: 0;
    }

    .cards-type-2, 
    .collection {
        margin-left: 20px;
    }

    .cards-type-2 {
        flex-direction: column;
        gap: 20px;
        .cards-detail {
            text-align: center;
            width: 100%;
            margin-bottom: 0;
            button {
                display: none;
            }
        }

        .pagination-swiper {
            display: none;
        }
    }

    .card2 {
        .rated {
            h4 {
                font-size: 18px;
            } span {
                font-size: 16px;
            }
        } img {
            width: 80px;
            height: 80px;
        }
    }

    .card5 {
        padding: 10px;
        gap: 8px;
        .detail {
            h3 {
                font-size: 14px;
            } h5 {
                font-size: 12px;
            }
        }
        img {
            width: 30px;
            height: 30px;
        }
    }
}