$header: #202020; 
$headerinput: #2D2D2D;
$background: #272727;
$text: #777777; 
$activeLink: #454545; 
$activeLinkText: #9A9A9A; 
$svgColor: invert(1); 
$svgColor2: invert(.7); 
$svgBackg: #c4c4c4; 
$textwht: #ccc; 
$basictext: white; 
$pscolor: #515151; 
$boxborder: #444; 
$boxborderlight: #ccc; 
$blurinstallerlight: #ffffff3b;
$blurinstaller: rgb(43 43 43 / 23%);
// $textwhite: white; 
$blue: #76B9ED; 
$filterblue: invert(73%) sepia(7%) saturate(3085%) hue-rotate(176deg) brightness(96%) contrast(93%);
$filterbluelight: invert(18%) sepia(82%) saturate(2772%) hue-rotate(191deg) brightness(94%) contrast(101%);

$activeLinkTextlight: #bbbbbb;
$headerlight: #F3F3F3; 
$headerinputlight: white; 
$backgroundlight: #F9F9F9; 
$svgBackglight: #dcdcdc; 
$svgColorlight: invert(0.5);
$svgColorlight2: invert(0.1);
$textwhtlight: #333; 
$textLight: #111; 
$activeLinklight: #fff; 
$bluelight: #005A9E;
$basictextlight: #000; 
$pscolorlight: #FDFDFD; 


