* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: unset; 
    font-family: calibri;
    color: $text;
}

input:focus-visible, 
input:focus {
    outline: unset;
    border: unset; 
}

body.light {
    transition: background 100ms ease 0s;
    background: $backgroundlight;
    * {
        color: $textLight;
    }

    .wrapper-title:hover {
        background: $svgBackglight;
    } 

    .wrapper-title {
        h3 {
            color: $basictextlight;
        } a {
            color: $bluelight; 
        }
    }

    .categories {
        div {
            span {
                color: $textwhtlight;
            }
        }   
    }

    .svgimg {
        filter: $svgColorlight;
    } 

    .pagination-swiper {
        background-color: $pscolorlight !important;
        img {
            filter: $svgColorlight;
        }
    }
}

@function pxtovw($px, $baseWidth) {@return #{$px / $baseWidth * 100}vw;}
body {overflow: hidden;}


body {
    background: $background;
    padding-left: 114px;
    padding-top: 100px;
    overflow-y: unset;
    padding-bottom: 50px;
} body::-webkit-scrollbar {
    display: none;
}

@mixin createOverlay($color: #00000056) {
    position: absolute;
    content: '';
    background-color: $color; 
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@mixin createIcon($size, $radius, $color) {
    box-shadow: inset 0 0 0 $size $color;
    border-radius: $radius;
}

.svgimg {
    filter: $svgColor;
}



.main {
    width: 100%;
    // height: 93.3vh;
    h5.main-title {
        color: $basictext;
        font-size: 40px;
        position: absolute;
        z-index: 2;
        left: 250px;
        top: 150px;
    }
    // border: 1px solid red;
}

.mt {
    margin-top: 30px;
}

.wrapper-title:hover {
    background: $activeLink;
}

.wrapper-title {
    transition: all 200ms ease 0s;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;


    padding: 5px 10px;
    
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    cursor: pointer;

    * {
        pointer-events: none;
    }

    h3 {
        font-size: 30px;
        color: $basictext;
    } a {
        font-weight: bold;
        font-size: 30px;
        color: $blue;
        text-decoration: none;
    }
}


.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.categories {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    // border: 1px solid red;
    div {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px 20px;
        border-radius: 7px;
        box-shadow: 0 0 5px 0 #999;
        img {
            width: 30px;
            height: 30px;
        } span {
            font-size: 20px;
            color: $textwht;
        }
    }
}

.pagination-swiper {
    position: absolute !important;
    top: -65px !important;
    right: 80px !important;
    left: unset !important;
    background: $pscolor !important;
    width: 30px !important;
    height: 30px !important;
    padding: 10px !important;
    border-radius: 50% !important;
    color: $basictext !important;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        filter: $svgColor;
    
    }
}
.ps-right {
    right: 10px !important;
}

@media screen and (max-width: 900px) {
    body {
        padding-left: 50px;
        padding-top: 90px;
        
    }

    .categories {
        margin-left: 50px;
    }

    .wrapper-title {
        h3 {
            font-size: 25px;
        } a {
            font-size: 25px;
        }
    }

    .pagination-swiper {
        width: 20px !important;
        height: 20px !important;
        top: -60px !important;
        img {
            width: 10px;
            height: 10px;
        }
    }

    .main {
        h5.main-title {
            color: $basictext;
            font-size: 30px;
            position: absolute;
            left: 170px;
            top: 120px;
        }
    }
}

@media screen and (max-width: 600px) {
    .categories {
        margin-left: unset;
        padding: 15px;
        div {
            width: 30%;
            img {
                width: 20px;
                height: 20px;
            }
            span {
                font-size: 14px;
            }
        } 
    }
    body {
        padding-left: unset;
    }

    .main {
        h5.main-title {
            color: $basictext;
            font-size: 20px;
            position: absolute;
            
            left: 60px;
            top: 120px;
        }
    }

    .pagination-swiper {
        top: -50px !important;
        right: 50px !important;
    }  .ps-right {
        right: 0 !important;
    }

    .wrapper-title {
        h3 {
            font-size: 18px;
        } a {
            font-size: 18px;
        }
    }
}


@media screen and (max-width: 450px) {
    .categories {
        margin-left: unset;
        padding: 15px;
        div {
            flex: 1;
            img {
                width: 20px;
                height: 20px;
            }
            span {
                font-size: 14px;
            }
        } 
    }
}


