* {
  margin: unset;
  padding: unset;
  font: unset;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

p, a, ul li, ol li, button, span, input, textarea {
  font-size: 18px;
  color: white;
  text-decoration: unset;
}

input, textarea {
  padding: 5px;
  padding-left: 15px;
  border: unset;
  outline: unset;
}

body {
  background: black;
  font-family: 'calibri';
}

header {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 30px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

header .logo img {
  width: 200px;
}

header .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 45%;
  background: #e4e4e4;
  padding: 0 20px;
}

header .search img {
  width: 20px;
}

header .search input {
  color: gray;
  background: transparent;
  width: 100%;
  height: 100%;
}

header .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

header .profiles .darkmode img {
  width: 40px;
}

header .profiles .notification {
  position: relative;
}

header .profiles .notification img {
  width: 40px;
}

header .profiles .notification .notif {
  width: 15px;
  height: 15px;
  background: red;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
}

header .profiles .profile {
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .profiles .profile img {
  width: 40px;
}

header .profiles .profile-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside.latest-created {
  bottom: 0;
  left: 0;
  top: 0;
}

aside.user-online {
  padding-top: 100px;
  left: 0;
  bottom: 0;
  top: 0;
  width: 110px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

aside.user-online .active-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 20px 10px;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

aside.user-online .active-title .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

aside.user-online .active-title .left img {
  width: 25px;
  height: 25px;
}

aside.user-online .active-title .left p {
  font-size: 22px;
}

aside.user-online .active-title img {
  width: 20px;
  height: 20px;
}

aside.user-online .active:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

aside.user-online .active:nth-child(2) .active-user {
  position: relative;
}

aside.user-online .active:nth-child(2) .active-user img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  border: 1px solid white;
}

aside.user-online .active:nth-child(2) .active-user .dot {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 1px;
  bottom: 1px;
  background: lightgreen;
  border-radius: 50%;
  border: 4px solid black;
}

aside {
  background: rgba(70, 70, 70, 0.438);
  position: fixed;
  width: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  z-index: 9;
}

aside div {
  text-align: center;
}

aside div img {
  width: 40px;
  height: auto;
  border-radius: 7px;
}

aside div ul {
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .opt {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
}

.container {
  padding: 140px 0;
  padding-bottom: 70px;
  padding-left: 160px;
  padding-right: 80px;
}

.container .cover-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  background: #181818;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 80px;
}

.container .cover-header .detail {
  padding-left: 50px;
}

.container .cover-header .detail h1 {
  font-size: 80px;
  font-weight: bold;
}

.container .cover-header .detail p {
  font-size: 25px;
  line-height: 2;
}

.container .twolayer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.container .twolayer .left {
  width: 80%;
}

.container .twolayer .left .devices:nth-child(n+2) {
  margin-top: 80px;
}

.container .twolayer .left .devices .title h3 {
  font-size: 40px;
  font-weight: bold;
}

.container .twolayer .left .devices .title p {
  font-size: 18px;
}

.container .twolayer .left .devices .cards {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 25px;
}

.container .twolayer .left .devices .cards .card-cover {
  width: 100%;
}

.container .twolayer .left .devices .cards .card .detail {
  padding: 10px;
}

.container .twolayer .left .devices .cards .card .detail .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.container .twolayer .left .devices .cards .card .detail .title .icon {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .twolayer .left .devices .cards .card .detail .title h3 {
  font-size: 21px;
}

.container .twolayer .left .devices .cards .card .detail .title p {
  font-size: 17px;
}

.container .twolayer .left .devices .cards .card .informations {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.container .twolayer .left .devices .cards .card .informations .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 100px;
  padding: 2px 0;
}

.container .twolayer .left .devices .cards .card .informations .information img {
  width: 15px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .twolayer .left .devices .cards .card .informations .information h3 {
  font-size: 16px;
}

.container .twolayer .right {
  position: -webkit-sticky;
  position: sticky;
  height: 1000px;
  top: 120px;
  width: 20%;
}

.container .twolayer .right .additional:nth-child(n+2) {
  margin-top: 50px;
}

.container .twolayer .right .additional h3 {
  font-size: 30px;
  font-weight: bold;
}

.container .twolayer .right .additional p {
  font-size: 18px;
}

.container .twolayer .right .additional .items {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.container .twolayer .right .additional .items .item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.container .twolayer .right .additional .items .item img {
  width: 100px;
}

.container .twolayer .right .additional .items .item-info h4 {
  font-size: 22px;
  font-weight: bold;
}

.container .twolayer .right .additional .items .item-info .informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.container .twolayer .right .additional .items .item-info .informations .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2px 0;
  gap: 5px;
}

.container .twolayer .right .additional .items .item-info .informations .information img {
  width: 15px;
  height: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .twolayer .right .additional .items .item-info .informations .information h3 {
  font-size: 16px;
}

footer {
  position: relative;
  z-index: 1;
  padding: 20px 100px;
  padding-right: 160px;
  padding-left: 160px;
  padding-right: 80px;
  border: 1px solid red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .left img {
  width: 200px;
}

footer .left h3 {
  font-size: 18px;
}

footer .right span {
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */